// Search form
.search-1 {
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border: 1px solid $primary;
  border-radius: 30px;

  input {
    color: #333 !important;
    background-color: $white !important;
    font-size: 16px !important;
    border-radius: 30px;

    &:active {
      outline: none !important;
    }
    &:focus {
      outline: none !important;
    }
  }
  button {
    cursor: pointer;
    border: none;
    border-radius: 30px;
    white-space: nowrap;

    &:hover {
      background-color: #389E7F !important;
      transition: .2s all ease-in-out;
    }
  }
  @media (min-width: $lg) {
    min-width: 340px;
  }
}